
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/OrderingScript.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

@model IEnumerable<PizzaOrderingWorkApp.Models.Order>
<body  class="centerBody1" style="background-color: #f5f5f5">
    <form name="myForm" data-ng-app="OrderingScript" data-ng-controller="orderControl">

        <div> 
            <h1 class="headingFontStyle mainHeading rounded">PIZZA ANYONE?</h1>
            <div>
                <h3 class="text-black-50 centerBody1 font-weight-bold headingFontStyle">PLACE YOUR ODRDER</h3>
            </div>
            <div class="centerBody1 ">
                <table class="table table-dark table-striped rounded table-borderless">
                    <tr>
                        <td class="smallHeading">Name:</td>
                        <td align="left">
                            <input autofocus class="sizedText rounded form-group" id="Name" type="text" name="order.DeveloperName" data-ng-model="order.DeveloperName" maxlength="25" ng-required="true" />

                        </td>
                    </tr>

                    <tr>
                        <td class="smallHeading">Pizza:</td>
                        <td align="left">
                            <select class="form-group sizedText rounded" id="Pizza" type="" name="order.Pizza" data-ng-model="order.Pizza" ng-required="true">
                                <option selected value="Bacon">Bacon</option>
                                <option value="Onion">Onion</option>
                                <option value="Cheese">Cheese</option>
                                <option value="BaconCheese">BaconCheese</option>
                            </select>

                        </td>
                    </tr>

                    <tr>
                        <td class="smallHeading">Drink:</td>
                        <td align="left">
                            <select class="form-control sizedText rounded" id="Drink" type="text" name="order.Drink" data-ng-model="order.Drink" ng-required="true">
                                <option value="Coke">Coke</option>
                                <option value="Sprite">Sprite</option>
                                <option value="Pepsi">Pepsi</option>
                                <option value="Fanta">Fanta</option>
                            </select>

                        </td>
                    </tr>

                    <tr>
                        <td class="smallHeading">Date:</td>
                        <td align="left"><input class="form-group sizedText rounded" id="date" type="text" name="order.Cur_Date" data-ng-model="order.Cur_Date" data-ng-init="order.Cur_Date='@ViewData["CurrentDate"]'" disabled /></td>
                    </tr>

                    <tr>
                        <td align="right"><input class="rounded buttonSubmit form-group" type="submit" id="submitButton" value="SUBMIT" name="btnSubmit" onclick="ConfirmOrder();" data-ng-click="savedata(order)"/> </td>

                        <td align="left">
                            <button class="buttonSubmit rounded" type="button" onclick="ClearFields();">
                                CLEAR INPUT FIELDS
                            </button>
                        </td>
                    </tr>
                </table>
   
                @Html.ActionLink("View Statistics", "Statistics", "Order", null, new { @class = "smallHeading" })

            </div>
            <div>
                <h3 class="text-black-50 centerBody1 font-weight-bold headingFontStyle">ORDER HISTORY</h3>
            </div>
            <table class="table table-dark table-striped rounded table-borderless">
                <tr>
                    <th class="smallHeading">@Html.DisplayNameFor(m => m.DeveloperName)</th>
                    <th class="smallHeading">@Html.DisplayNameFor(m => m.Pizza)</th>
                    <th class="smallHeading">@Html.DisplayNameFor(m => m.Drink)</th>
                    <th class="smallHeading">@Html.DisplayNameFor(m => m.Cur_Date)</th>
                </tr>
                <tr data-ng-repeat="ordr in orders">
                    <td>{{ordr.DeveloperName}}</td>
                    <td>{{ordr.Pizza}}</td>
                    <td>{{ordr.Drink}}</td>
                    <td>{{ordr.Cur_Date | date: 'MMM d, y' : 'UCT'}}</td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>

<script>

    //Clear input fields
    function ClearFields() {      
        document.getElementById("Name").value = "";
        document.getElementById("Pizza").value = "";
        document.getElementById("Drink").value = "";    
    }
    //Check for input field values
        function ConfirmOrder() {
            var piz = document.getElementById('Pizza');
            var drk = document.getElementById('Drink');

            var resultPizza = piz.options[piz.selectedIndex].text.length;
            var resultDrink = drk.options[drk.selectedIndex].text.length;

            if (document.getElementById("Name").value.length == 0 || resultPizza < 1 || resultDrink < 1)
            {
                window.alert('Please fill out all required fields');
            }
            else
            {
                window.confirm("Confirm order details")
            }
        }
</script>
